<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>{: title}</title>
    <meta name="generator" content="markdown->HTML.sublime-build" />
    <style type="text/css">__CSS__</style>
  </head>
  <body>
<%= @body %>
  </body>
</html>
